.login-body{
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Jost", sans-serif;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, rgb(70, 70, 220), rgb(107, 162, 196));
}
.loginpage {
  background-color: white;
  width: 21em;
  height: 25em;
  position: relative;
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 40px rgb(0 0 0 / 60%);
}

.loginpage-form {
  height: 30em;
  width: 25em;
  padding: 20px;
}
.login-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: -10px;
  margin-bottom: 20px;
  margin-top: 30px;
  font-size: 16px;
    font-weight: 700;
}
.username,
.password {
  margin: 20px;
  margin-left: 4.3em;
  font-size: 12px;
}
sup {
  color: red;
  top: -2px;
  font-size: 95%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
 .login-input{
  border: none;
  background-color: rgb(229, 226, 226);
  height: 5px;
  width: 58%;
  border-radius: 0.25em;
  padding: 15px;
  display: flex;
  flex-direction: column;
  margin: 20px;
  margin-bottom: 12px;
  margin-top: 6px;
  margin-left: 4em;
}

input:focus {
  outline-color: rgb(32, 171, 255);
}
.username-fielderror-login {
  position: absolute;
  bottom: 20.3em;
  left: 4.3em;
  color: red;
  font-size: 12px;
}
.password-fielderror-login {
  position: absolute;
  bottom: 12.8em;
  left: 4.3em;
  color: red;
  font-size: 12px;
}

.login-button {
  width: 14em;
  padding: 10px 20px;
  background-color: rgb(32, 177, 255);
  color: #ffff;
  font-size: 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 30px;
  margin-left: 84px;
}

.login-button:hover {
  background-color: #2134e4;
}

.login-btn:hover {
  transform: scale(1.25);
}
.forget-password,.sign-up{
  text-align: center;
  font-size: 12px;
  margin-top: 1.5em;
  color: rgb(70, 70, 220);
  text-decoration: none;
  margin-bottom: 2em;
  margin: 48px 0px 0px 48px;
  padding: 10px;
}

@media (max-width: 768px) {
  .loginpage {
    background-color: white;
    width: 21em;
    height: 24em;
    position: relative;
    border-radius: 1em;
    box-shadow: 0 0.188em 1.55em rgb(156, 156, 156);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .login-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 19px;
    margin-bottom: 25px;
    text-align: center;
  }
  .login-input {
    border: none;
    background-color: rgb(229, 226, 226);
    height: 12px;
    width: 62%;
    border-radius: 0.25em;
    padding: 1em;
    display: flex;
    flex-direction: column;
    margin: 20px;
    margin-bottom: 12px;
    margin-top: 2px;
    margin-left: 4em;
}

.username-fielderror-login {
  position: absolute;
  bottom: 19.7em;
  left: 4.5em;
  color: red;
  font-size: 12px;
}
.password-fielderror-login {
  position: absolute;
  bottom: 12.2em;
  left: 4.5em;
  color: red;
  font-size: 12px;
}
  .login-button {
    width: 175px;
    margin-left: 5em;
    margin-top: 25px;
    margin-right: 0px;
    margin-bottom: 0px;
    padding: 10px 20px;
    background-color: rgb(32, 177, 255);
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
}

@media (max-width: 430px) {
  .App {
    height: 103vh;
  }
  .loginpage {
    background-color: white;
    width: 19em;
    height: 23em;
    position: relative;
    border-radius: 1em;
    box-shadow: 0 0.188em 1.55em rgb(156, 156, 156);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  .login-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 15px;
}
  .username-fielderror-login {
    position: absolute;
    bottom: 18em;
    left: 4.5em;
    color: red;
    font-size: 12px;
  }
  .password-fielderror-login {
    position: absolute;
    bottom: 10.6em;
    left: 4.5em;
    color: red;
    font-size: 12px;
  }
  .login-button {
    width: 140px;
  }
}
@media (max-width: 375px) {
  .App {
    height: 113vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 18px;
  }

  .loginpage {
    background-color: white;
    width: 18em;
    height: 22em;
    position: relative;
    border-radius: 1em;
    box-shadow: 0 0.188em 1.55em rgb(156, 156, 156);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
.login-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 15px;
}
.username, .password {
  margin: 20px;
  margin-left: 3.3em;
  font-size: 12px;
}
.login-input {
  border: none;
  background-color: rgb(229, 226, 226);
  height: 12px;
  width: 62%;
  border-radius: 0.25em;
  padding: 1em;
  display: flex;
  flex-direction: column;
  margin: 20px;
  margin-bottom: 12px;
  margin-top: 2px;
  margin-left: 3em;
}
.username-fielderror-login {
  position: absolute;
  bottom: 17.5em;
  left: 3.3em;
  color: red;
  font-size: 12px;
}
.password-fielderror-login {
  position: absolute;
  bottom: 10em;
  left: 3.3em;
  color: red;
  font-size: 12px;
}

}

