.update-profile-body{
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Jost", sans-serif;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, rgb(255 255 255), rgb(143 174 194));
}
  
  .update-profile-form {
    background-color: white;
    height: 16em;
    width: 22em;
    padding: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1em;
    box-shadow: 0 0 40px rgb(0 0 0 / 60%);
  }
  
  label {
    margin-bottom: 0px;
    font-size: 12px;
  }
  .heading h1 {
    text-align: center;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 700;
  }
  
.heading-update-profile {
  padding: 0rem;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 30px;
}
  sup {
    color: red;
    top: -2px;
    font-size: 95%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
  }
  
  .signup_input,
  select {
    border-radius: 4px;
    border: 1px solid #ccc;
    height: 30px;
    padding: 0 8px;
    margin-bottom: 12px;
    margin-top: 2px;
    width: 20em;
  }
  select {
    width: 21.3em;
  }
  .Field {
    position: relative;
    padding-bottom: 0px;
    font-size: 12px;
    display: flex;
    flex-direction: column;
  }
  
  .fielderror-signup {
    position: absolute;
    bottom: -1em;
    color: red;
    font-size: 10px;
  }
  
  .Row {
    display: flex;
    flex-direction: row;
  }
  
  button {
    padding: 9px;
    width: 135px;
    border-radius: 4px;
    border: 1px solid #ccc;
    color: white;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    cursor: pointer;
    margin-bottom: 5px;
  }
  .update-details-button,.reset-button{
    margin-left: 10px;
    font-size: 12px;
    background-color: rgb(32, 177, 255);
    border: 1px solid #999999;
    color: white;
    margin-top: 10px;
  }
  button:disabled,
  button[disabled] {
    border: 1px solid #999999;
    background-color: rgb(32, 177, 255);
    color: #ffffff;
    cursor: not-allowed;
  }
  
  @media (max-width: 500px) {
      .signup_form {
      height: 28em;
      width: 20em;
      padding: 10px;
    }
    fieldset {
      display: flex;
      width: 296px;
      padding: 8px;
      border: 3px solid #5385c4;
      border-radius: 4px;
      flex-direction: column;
      height: 430px;
    }
    h2 {
      text-align: center;
      margin-bottom: 5px;
    }
    .signup_input,
    select {
      border-radius: 4px;
      border: 1px solid #ccc;
      height: 23px;
      width: 232px;
      padding: 0 8px;
      margin-bottom: 12px;
      margin-top: 0px;
      margin-left: 21px;
    }
    button {
      padding: 12px;
      width: 151px;
      border-radius: 4px;
      text-transform: uppercase;
      font-size: 12px;
      font-weight: bold;
      margin-left: 61px;
    }
  }
  
  @media (max-width: 375px) {
    .App {
      height: 100vh;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 0px;
    }
    .signup_form {
      height: 26em;
      width: 18em;
      padding: 10px;
    }
    fieldset {
      display: flex;
      width: 270px;
      padding: 5px;
      border: 3px solid #5385c4;
      border-radius: 4px;
      flex-direction: column;
      height: 401px;
    }
    .signup_input,
    select {
      border-radius: 4px;
      border: 1px solid #ccc;
      height: 23px;
      width: 210px;
      padding: 0 8px;
      margin-bottom: 10px;
      margin-top: 0px;
      margin-left: 21px;
    }
    button {
      padding: 12px;
      width: 130px;
      border-radius: 4px;
      text-transform: uppercase;
      font-size: 11px;
      font-weight: bold;
      margin-left: 7em;
    }
  }
  