.event_page {
  height: 100vh;
  width: 100%;
  display: inline;
  align-items: start;
  margin-bottom: 10px;
}
.navbar {
  width: 100%;
  height: 4rem;
  display: grid;
  grid-template-columns: 2rem 1fr 2fr 1fr;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 80px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.logo {
  display: grid;
  grid-column: 2/3;
  justify-content: start;
  align-items: start;
  margin-top: 7px;
}
img {
  height: 50px;
}
.search-bar {
  width: 70%;
  height: 1.5em;
  margin-left: 40px;
  display: flex;
  margin-top: 15px;
}
input .search-bar {
  border-radius: 4px;
  border: 2px solid #ccc;
  height: 40px;
  padding: 0 8px;
}
.person-menu .menu {
  display: flex;
  flex-direction: row-reverse;
  margin-top: 15px;
  margin-left: 181px;
  height: 10px;
  width: 30px;
}

.table-heading {
  margin: 20px;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
}
table {
  width: 100%;
}
th {
  padding: 0px 0px 0px 0px;
  font-size: 12px;
  font-weight: 700;
  text-align: center;
}
td {
  padding: 20px 0px 20px 0px;
  font-size: 12px;
  text-align: center;
}
.logo {
  height: 6rem;
}

.bookmark-button, .update-button, .delete-button, .book-button{
  width: 4em;
  padding: 5px;
  border-radius: 4px;
  border: 1px solid #2b50cb;
  background-color: #6cd2e9;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 15px;
}
.book-button{
  width: 5em;
  height: 2.3em;
  font-size: 12px;
}
.update-button{
  background-color: orange;
}
.delete-button{
  background-color: rgb(252, 48, 48);
}
.bookmark-button.bookmarked , .book-button.booked{
  /* color: red  */
  background-color: #2b50cb;
  transform: scale(1.25);
}
.update-button:hover, .delete-button:hover{
  transform: scale(1.25);
}
.add-button{
  width: 5em;
  height: 5em;
  padding: 10px;
  border-radius: 35px;
  border: 1px solid #2b50cb;
  background-color: #1741ec;
  color: white;
  cursor: pointer;
}
.add-button:hover{
  transform: scale(1.25);
}
#addbutton{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 2em 2em 2em 2em;
}

@media (max-width: 768px) {
  .person-menu .menu {
    margin: 25px;
    padding-top: 14px;
    margin-left: 150px;
    padding-right: 0px;
  }
  .search-bar {
    margin-top: 14px;
    width: 60%;
    height: 1.5em;
    margin-left: 40px;
    display: flex;
  }
  .table-heading {
    margin: 20px;
    font-size: 16px;
    text-align: center;
  }
  th {
    padding: 0px 0px 0px 0px;
    font-size: 12px;
    text-align: center;
  }
  td {
    padding: 20px 0px 20px 0px;
    font-size: 12px;
    text-align: center;
  }
  .bookmark-button, .update-button, .delete-button, .book-button {
    width: 4em;
    padding: 5px;
    border-radius: 2px;
    border: 1px solid #2b50cb;
    background-color: #6cd2e9;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 10px;
    margin-left: 0px;
  }
  .update-button{
    background-color: orange;
  }
  .delete-button{
    background-color: rgb(252, 48, 48);
  }
}
@media (max-width: 620px) {
  .navbar {
    height: 9rem;
    width: 116%;
    display: grid;
    margin-top: 10px;
    grid-template-columns: 2rem 1fr 2fr 1fr;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  }
  img {
    height: 7em;
  }
  .logo {
    height: 5rem;
    display: grid;
    grid-column: 2/3;
    justify-content: start;
    align-items: center;
  }
  .search-bar {
    margin-top: 50px;
    width: 70%;
    margin-left: 20px;
    display: flex;
  }
  .search-logo {
    height: 43px;
    width: 30px;
  }
  .person-menu .menu {
    margin: 0px;
    padding-top: 30px;
    padding-right: 0px;
    margin-left: 150px;
  }
  .table-heading {
    width: 116%;
    margin: 10px;
    font-size: 16px;
    text-align: center;
  }
  table {
    width: 116%;
  }
  th {
    padding: 0px 0px 0px 0px;
    font-size: 12px;
    text-align: center;
  }
  td {
    padding: 20px 0px 20px 0px;
    font-size: 12px;
    text-align: center;
  }
}
@media (max-width: 535px) {
  .navbar {
    width: 116%;
    height: 7rem;
    display: grid;
    margin-top: 10px;
    grid-template-columns: 2rem 1fr 2fr 1fr;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  }
  img {
    height: 60px;
  }
  .logo {
    height: 5rem;
  }
  .search-bar {
    margin-top: 10px;
    width: 70%;
    margin-left: 20px;
    display: flex;
  }
  input .search-bar {
    border-radius: 4px;
    border: 1px solid #ccc;
    height: 30px;
    width: 211px;
    padding: 0 8px;
    margin-bottom: 25px;
    margin-top: 10px;
    margin-left: 0px;
  }
  .search-logo {
    margin-top: 5px;
    height: 33px;
    width: 29px;
  }
  .person-menu .menu {
    margin: 0px;
    padding-top: 20px;
    padding-right: 0px;
    margin-left: 60px;
  }

  table {
    width: 116%;
    font-size: 50%;
  }

  .table-heading {
    margin: 20px;
    font-size:14px;
    text-align: center;
  }
  th {
    padding: 0px 0px 0px 0px;
    font-size: 10px;
  }
  td {
    padding: 20px 0px 20px 0px;
    font-size: 10px;
    text-align: center;
  }
}

@media (max-width: 430px) {
  .navbar {
    width: 116%;
    height: 5.8rem;
    display: grid;
    margin-top: 10px;
    grid-template-columns: 2rem 1fr 2fr 1fr;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  }
  img {
    height: 60px;
  }
  .logo {
    height: 5rem;
  }
  input .search-bar {
    border-radius: 4px;
    border: 1px solid #ccc;
    height: 30px;
    width: 211px;
    padding: 0 8px;
    margin-bottom: 25px;
    margin-top: 10px;
    margin-left: 21px;
  }
  .search-bar {
    margin-top: 10px;
    width: 75%;
    margin-left: 20px;
    display: flex;
  }
  .search-logo {
    width: 53px;
  }
  .person-menu .menu {
    margin: 0px;
    padding-top: 20px;
    padding-right: 0px;
    margin-left: 0px;
  }

  table {
    width: 122%;
    font-size: 50%;
  }
}

@media (max-width: 380px) {
  .navbar {
    width: 122%;
    height: 5rem;
    display: grid;
    margin-top: 5px;
    grid-template-columns: 1rem 1fr 2fr 1fr;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  }
  img {
    height: 60px;
  }
  .logo {
    height: 4rem;
  }
  input .search-bar {
    border-radius: 4px;
    border: 1px solid #ccc;
    height: 30px;
    width: 211px;
    padding: 0 8px;
    margin-bottom: 25px;
    margin-top: 10px;
    margin-left: 21px;
  }
  .search-bar {
    margin-top: 26px;
    width: 75%;
    margin-left: 20px;
    display: flex;
  }
  .search-logo {
    width: 53px;
  }
  .person-menu .menu {
    margin: 0px;
    padding-top: 20px;
    padding-right: 0px;
    margin-top: 5px;
  }

  table {
    width: 122%;
    font-size: 50%;
  }
}
