.forgot-password-body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Jost", sans-serif;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, rgb(70, 70, 220), rgb(107, 162, 196));
  }
  
  .forgot-password-page {
    background-color: white;
    width: 24em;
    height: auto;
    position: relative;
    border-radius: 1em;
    box-shadow: 0 0.188em 1.55em rgb(156, 156, 156);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5em;
  }
  
  .forgot-password-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: -10px;
    margin-bottom: 30px;
    margin-top: 30px;
  }
  
  .email {
    margin: 0.5em;
    font-size: 1.2em;
  }
  
  .forgot-password-input {
    border: none;
    background-color: rgb(229, 226, 226);
    height: 2.5em;
    width: 90%;
    border-radius: 0.25em;
    padding: 0.5em;
    display: flex;
    flex-direction: column;
    margin: 0.5em;
    margin-bottom: 1em;
  }
  
  .forgot-password-button {
    width: 92%;
    padding: 0.7em 2.5em;
    background-color: rgb(32, 177, 255);
    color: white;
    border: none;
    border-radius: 0.25em;
    font-size: 1.1em;
    font-weight: bold;
    margin: 0.5em;
    cursor: pointer;
  }
  
  .message {
    color: green;
    font-size: 1.1em;
    margin-top: 1em;
  }
  
  .back-to-login {
    text-align: center;
    font-size: 1em;
    margin-top: 1.5em;
    color: rgb(70, 70, 220);
    text-decoration: none;
  }
  .email-fielderror-forgetpassword{
    position: absolute;
    bottom: 22em;
    color: red;
    font-size: 12px;
    margin-left: 0.9em;
  }
  .username-fielderror-forgetpassword{
    position: absolute;
    bottom: 13em;
    color: red;
    font-size: 12px;
    margin-left: 0.9em;
  }
  .new-password-fielderror{
  position: absolute;
  bottom: 22em;
  color: red;
  font-size: 12px;
  margin-left: 0.9em;
  }
  .confirm-password-fielderror{
    position: absolute;
    bottom: 13em;
    color: red;
    font-size: 12px;
    margin-left: 0.9em;
    }